@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicando a nova fonte globalmente */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar mais elegante */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-600;
}

/* Ajuste fino para o fundo dark ficar mais sofisticado */
.dark body {
    background-color: #0F1117; /* Um tom mais rico que o preto puro */
}